body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}
footer {
    height: 100vh;
    background-color: #403B3B;
}

.footer-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 136px;
}

.footer-content img {
    height: 47px;
}

.header-kaiserschmarren{
    font-size: 36px;
    padding-left: 136px;
    padding-right: 136px;
}

.kaiserschmarren-img{
    display: flex;
    justify-content: center;
    padding-top: 24px;
   height: 150px;
    padding-left: 136px;
    padding-right: 136px;
}

.kaiserschmarren-img img {
    border-radius: 8px;
    height: 150px;
    width: 100%;
    object-fit: cover;
}



.schwierigkeitsgrad{
    display: flex;
    gap: 16px;
    align-items: center;
    height: 40px;
    padding-left: 136px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f0;
    border-radius: 8px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.icons img {
    height: 25px;
}

.portion-group {
    display: flex;
    align-items: center;
    padding-left: 136px;
    padding-top: 20px;
    padding-bottom: 40px;
}

label {
    padding-right: 10px;
}

input {
    height: 28px;
    width: 120px;
    border: 1px solid #f3f4f0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.input-button {
    display: flex;
    align-items: center;
}