@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-right: 136px;
    padding-left: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

* {
    box-sizing: border-box;
}

main {
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-content img {
    height: 47px;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.footer-social-icon {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.footer-social-icon:hover {
    transform: rotateY(360deg);
}

.kochwelt-weiß {
    height: 64px;
    filter: invert(100%);
}

.datenschutz-impressum {
    color: white;
    text-decoration: none;
    padding: 6px;
}

.datenschutz-impressum:hover {
    color: green;
}

.header-kaiserschmarren {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.kaiserschmarren-img {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.kaiserschmarren-img img {
    border-radius: 8px;
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.schwierigkeitsgrad {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    cursor: default;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f0;
    border-radius: 8px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.icons img {
    height: 25px;
}

.portion-group {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

label {
    padding-right: 10px;
}

input {
    height: 28px;
    width: 120px;
    border: 1px solid #f3f4f0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 28px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.input-button {
    display: flex;
    align-items: center;
}

.zutaten-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ul li:nth-child(odd) {
    background-color: #ededed;
    border-radius: 8px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.zubereitung-section {
    gap: 16px;
}

.zubereitung {
    display: flex;
    gap: 16px;
    cursor: default;
}

.zubereitung-header {
    font-size: 24px;
}

.zubereitung-zeit {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: #f3f4f0;
}

.zubereitung-zeit img {
    height: 25px;
}

.zubereitung-steps {
    padding-top: 30px;
    gap: 22px;
}

.ersteller-section {
    padding-top: 20px;
}

.ersteller-info {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.ersteller-info img {
    height: 100px;
    border-radius: 50%;
    margin-right: 12px;
}

.ersteller-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.resp_menu_box {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 135px;
    height: 140px;
    position: absolute;
    top: 20px;
    right: 0;
    transition: all 125ms ease-in-out;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 5px;
}

.resp_menu_closed {
    transform: translateX(115%);
}

.content {
    position: relative;
    overflow: hidden;
    height: 165px;
}

.menu_open_button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
}

.menu_close_button {
    border-radius: 8px;
    width: 135px;
}

.resp-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.resp-menu-link:hover {
    color: #008000;
}

@media (max-width: 1000px) {
    .header-padding {
        padding-right: 50px;
    }
}

@media (max-width: 680px) {
    .menu-right {
        display: none;
    }
}

@media (max-width: 680px) {
    .header-padding {
        justify-content: left;
    }
}

@media (max-width: 680px) {
    .header-kaiserschmarren {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 681px) {
    .menu_open_button {
        display: none;
    }
}

@media (min-width: 680px) {
    .resp_menu_box {
        display: none;
    }
}

@media (max-width: 550px) {
    .kaiserschmarren-img {
        padding-left: 20px;
        padding-right: 20px;
    }
    .icons img {
        height: 20px;
    }
    .zubereitung-zeit-text {
        font-size: 15px;
    }
    .portion-group {
        font-size: 15px;
        justify-content: center;
        padding-bottom: 10px;
    }
    li {
        font-size: 15px;
    }
    .datenschutz-impressum {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    footer {
        padding-left: 25px;
        padding-right: 20px;
    }
    .zutaten-header {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-bottom: 0;
    }
    .footer-socials {
        gap: 7px;
    }
    .footer-socials img {
        height: 40px;
        width: 40px;
    }
    .ersteller-info img {
        margin: 0;
    }
    .p-schwierigkeitsgrad {
        font-size: 15px;
    }
    .ersteller-name {
        margin-left: 0;
        margin-top: 10px;
    }
    .ersteller-info {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .ersteller-header {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .zubereitung-steps {
        padding-left: 20px;
        padding-right: 20px;
    }
    .zubereitung {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
    .zubereitung-header {
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 25px;
    }
    .zutaten-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .portion-group {
        padding-left: 20px;
        padding-right: 20px;
    }
    .portion-group {
        padding-left: 20px;
        padding-right: 20px;
    }
    .schwierigkeitsgrad {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 200px;
    }
    main {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .header-kaiserschmarren {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .p-schwierigkeitsgrad {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .header-padding {
        display: block;
        padding-left: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    button {
        width: 80px;
    }
}