@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    overflow-x: hidden;
    height: 75px;
}

main {
    font-size: 14px;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 136px;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    min-height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

* {
    box-sizing: border-box;
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.data-protection-imprint {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 6px;
}

.data-protection-imprint:hover {
    color: green;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.social-img {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.social-img:hover {
    transform: rotateY(360deg);
}

.resp_menu_box {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 135px;
    height: 140px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1000;
    transition: all 125ms ease-in-out;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 5px;
}

.resp_menu_closed {
    transform: translateX(115%);
}

.menu_open_button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    z-index: 999;
}

.menu_close_button {
    border-radius: 8px;
    width: 135px;
}

.resp-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.resp-menu-link:hover {
    color: #008000;
}

@media (max-width: 1000px) {
    .header-padding {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media(max-width: 768px) {
    .menu-right {
        display: none;
    }
}

@media (min-width: 769px) {
    .menu_open_button {
        display: none;
    }
    .resp_menu_box {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }
    main {
        padding-top: 0;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 50px;
    }
    .header-padding {
        display: block;
        padding-left: 20px;
    }
    .content {
        height: 165px;
    }
    footer {
        padding-left: 25px;
        padding-right: 20px;
    }
    .footer-socials {
        gap: 7px;
    }
    .data-protection-imprint {
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 10px;
    }
    .social-img {
        height: 40px;
        width: 40px;
    }
    button {
        height: 28px;
        width: 80px;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    ul {
        padding-left: 8px;
    }
    li {
        text-align: justify;
    }
    main a {
        overflow-wrap: break-word;
        word-break: break-all;
    }
}