@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    min-height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

* {
    box-sizing: border-box;
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.tagesrezept {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

.tagesrezept-img {
    height: 200px;
    border-radius: 8px;
}

.tagesrezept-text {
    padding-left: 24px;
}

.tagesrezept-header {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 600;
}

.tagesrezept-beschreibung {
    font-size: 14px;
    margin-bottom: 48px;
    text-align: justify;
}

.tagesrezept-button {
    color: white;
    background-color: #008000;
    text-decoration: none;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.lust-auf-neues-section {
    background-color: #EFEFEF;
}

.lust-auf-neues-header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.lust-auf-neues-rezepte {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 100px;
}

.lust-auf-neues-rezepte-text {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.lust-auf-neues-rezepte img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-size: 20px;
}

p {
    margin-top: 5px;
    text-decoration: none;
}

.rezept-text {
    text-decoration: none;
    color: black;
}

.rezept-text:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.was-ist-besser {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 48px;
    margin-bottom: 56px;
}

.was-ist-besser-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 32px;
}

.was-ist-besser-pimg {
    display: flex;
    justify-content: space-between;
}

.was-ist-besser-p {
    font-size: 14px;
    padding-right: 30px;
    text-align: justify;
}

.was-ist-besser-img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.datenschutz-impressum {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 6px;
}

.datenschutz-impressum:hover {
    color: green;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.social-img {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.social-img:hover {
    transform: rotateY(360deg);
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.resp_menu_box {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 135px;
    height: 140px;
    position: absolute;
    top: 20px;
    right: 0;
    transition: all 125ms ease-in-out;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 5px;
}

.resp_menu_closed {
    transform: translateX(115%);
}

.content {
    position: relative;
    overflow: hidden;
    height: 75px;
}

.menu_open_button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
}

.menu_close_button {
    border-radius: 8px;
    width: 135px;
}

.resp-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.resp-menu-link:hover {
    color: #008000;
}

@media (max-width: 1000px) {
    .header-padding {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 800px) {
    .lust-auf-neues-rezepte {
        flex-direction: column;
        gap: 35px;
    }
    .tagesrezept {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 24px;
        margin-top: 0px;
        padding-left: 56px;
        padding-right: 56px;
    }
    .tagesrezept-img {
        height: 160px;
    }
    .tagesrezept-header {
        padding-top: 24px;
    }
    .tagesrezept-beschreibung {
        text-align: justify;
    }
    .lust-auf-neues-rezepte {
        padding-bottom: 56px;
    }
    .was-ist-besser {
        padding-left: 56px;
        padding-right: 56px;
    }
    .was-ist-besser-p {
        text-align: justify;
        padding-right: 0px;
        margin-bottom: 24px;
    }
    .was-ist-besser-pimg {
        flex-direction: column;
        align-items: center;
    }
    .was-ist-besser-h2 {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .footer-socials img {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 550px) {
    .footer-socials {
        gap: 7px;
    }
}

@media (max-width: 550px) {
    footer {
        padding-left: 25px;
        padding-right: 20px;
    }
}

@media (max-width: 550px) {
    .datenschutz-impressum {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
}

@media (min-width: 681px) {
    .menu_open_button {
        display: none;
    }
}

@media (min-width: 680px) {
    .resp_menu_box {
        display: none;
    }
}

@media (max-width: 680px) {
    .menu-right {
        display: none;
    }
}

@media (max-width: 1000px) {
    .header-padding {
        padding-right: 50px;
    }
}

@media (max-width: 680px) {
    .header-padding {
        justify-content: left;
    }
}

@media (max-width: 480px) {
    .header-padding {
        display: block;
        padding-left: 20px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    button {
        height: 28px;
        width: 80px;
    }
    .content {
        height: 165px;
    }
}