
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.tagesrezept {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 136px;
    padding-right: 136px;
    display: flex;
}

.tagesrezept-img {
    height: 200px;
    border-radius: 8px;

}

.tagesrezept-text {
    padding-left: 24px;
}

.tagesrezept-header {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 600;
}

.tagesrezept-beschreibung {
    font-size: 14px;
    margin-bottom: 48px;
}

.tagesrezept-button {
    color: white;
    background-color: #008000;
    text-decoration: none;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

footer {
    height: 100vh;
    background-color: #403B3B;
}

.footer-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 136px;
}

.footer-content img {
    height: 47px;
}

.lust-auf-neues-section {
    background-color: #EFEFEF;

}

.lust-auf-neues-header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.lust-auf-neues-rezepte {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 100px;
}

.lust-auf-neues-rezepte-text {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.lust-auf-neues-rezepte img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

h2 {
    font-size: 20px;
}

p  { 
    margin-top: 5px;
}

.footer-socials {
    display: flex;
    padding-right: 136px;
   justify-content: space-evenly;
   width: 150px;
}