body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

* {
    box-sizing: border-box;
}

main {
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    margin-block-start: 0px;
}

.rezept-img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.schwierigkeitsgrad {
    display: flex;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    border-radius: 8px;
    margin: 5px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.schwierigkeitsgrad-img {
    height: 15px;
}

.portion-group {
    display: flex;
    align-items: center;
}

label {
    padding-right: 10px;
}

.input-button {
    display: flex;
    align-items: center;
}

input {
    height: 28px;
    width: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #f3f4f0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 28px;
    width: 120px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

ul li:nth-child(odd) {
    background-color: #ededed;
    border-radius: 8px;
}

.section-zubereitung-icons {
    display: flex;
    height: 40px;
}

.nährwerte-angaben {
    text-align: center;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    border-collapse: collapse;
}

table th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-left: 40px;
    padding-right: 40px;
}

table th:first-child {
    border-left: none;
    padding-right: 40px;
    padding-left: 0px;
}

table th:last-child {
    border-right: none;
    padding-right: 40px;
    padding-left: 40px;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-left: 40px;
    padding-right: 40px;
}

table td:first-child {
    border-left: none;
    padding-right: 40px;
    padding-left: 0px;
}

table td:last-child {
    border-right: none;
    padding-right: 40px;
    padding-left: 40px
}

h4 {
    padding-top: 24px;
}

.profile-pic-name {
    display: flex;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.name {
    padding-left: 20px;
    padding-right: 50px;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.datenschutz-impressum {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 16px;
}

.datenschutz-impressum:hover {
    color: green;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.social-img {
    height: 47px;
}