@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

h2 {
    margin-top: 32px;
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.resp_menu_box {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 135px;
    height: 140px;
    position: absolute;
    top: 20px;
    right: 0;
    transition: all 125ms ease-in-out;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 10px;
}

.content {
  position: relative;
  overflow: hidden;
  height: 165px;
}

.resp_menu_closed {
    transform: translateX(115%);
}

.menu_open_button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
}

.menu_close_button {
    border-radius: 8px;
    width: 135px;
}

.resp-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.resp-menu-link:hover {
    color: #008000;
}

* {
    box-sizing: border-box;
}

main {
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    margin-block-start: 0px;
}

.rezept-img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.schwierigkeitsgrad {
    display: flex;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    border-radius: 8px;
    margin: 5px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.schwierigkeitsgrad-img {
    height: 15px;
}

.portion-group {
    display: flex;
    align-items: center;
}

label {
    padding-right: 10px;
}

.input-button {
    display: flex;
    align-items: center;
}

input {
    height: 28px;
    width: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #f3f4f0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 28px;
    width: 120px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: justify;
}

ul li:nth-child(odd) {
    background-color: #ededed;
    border-radius: 8px;
}

.section-zubereitung-icons {
    display: flex;
    height: 40px;
}

.semi-bold {
    font-weight: 600;
}

h4 {
    padding-top: 24px;
}

.profile-pic-name {
    display: flex;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.name {
    padding-left: 20px;
    padding-right: 50px;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.datenschutz-impressum {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 16px;
}

.datenschutz-impressum:hover {
    color: green;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.social-img {
    height: 47px;
}

@media(max-width: 768px) {
    .menu-right {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu_open_button {
        display: none;
    }
    .resp_menu_box {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1920px) {

}

@media (min-width: 320px) and (max-width: 768px) {
    h1 {
        font-size: 21px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }
    h2 {
        font-size: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    h4 {
        display: flex;
        justify-content: center;
    }
    main {
        padding-top: 0px;
    }
    .header-padding {
        padding-left: 50px;
        padding-right: 50px;
    }
    .schwierigkeitsgrad {
        height: 40px;
        justify-content: space-around;
    }
    .p-schwierigkeitsgrad {
        font-size: 10px;
        white-space: nowrap;
    }
    label {
        white-space: nowrap;
    }
    .portion-group {
        justify-content: center;
    }
    input {
        width: 80px;
    }
    button {
        width: 80px;
    }
    .section-zubereitung-icons {
        height: 40px;
        padding-top: 10px;
        justify-content: space-between;
    }
    .zubereitungszeit {
        font-size: 12px;
    }
    .p-hinweis {
        text-align: justify;
    }
    .ersteller {
        padding: 0;
    }
    .profile {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
    }
    .name {
        padding: 0;
    }
    .datenschutz-impressum {
        flex-direction: column;
        align-items: center;
    }
    .social-img {
        height: 30px;
    }
}