body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    position: relative;
    overflow-x: hidden;
}

header {
    height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-padding {
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

* {
    box-sizing: border-box;
}

main {
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 150px;
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    padding: 14px;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 8px rgb(93, 139, 93));
}

h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.label-contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-top: 8px;
    padding-right: 0px;
}

label {
    padding-right: 10px;
}

input {
    border: 1px solid #ededed;
}

.input-contact {
    height: 28px;
    width: 350px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
}

textarea {
    resize: none;
    border-radius: 8px;
}
button {
  background-color: green;
  color: white;
  border: none;
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.button-send {
    background-color: green;
    color: white;
    border: none;
    height: 28px;
    width: 120px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 214px;
    margin-left: 214px;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.kochwelt-weiß {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.datenschutz-impressum {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 16px;
}

.datenschutz-impressum:hover {
    color: green;
}

.footer-socials {
    display: flex;
    gap: 16px;
}
.resp_menu_box {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 135px;
  height: 140px;

  position: absolute;

  top: 20px;
  right: 0;

  transition: all 125ms ease-in-out;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 550;
  margin-right: 10px;
}

.resp_menu_closed {
  transform: translateX(115%);
}

.content {
  position: relative;
  overflow: hidden;
  height: 69px;
}

.menu_open_button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
}

.menu_close_button {
  border-radius: 8px;
  width: 135px;
}

.resp-menu-link {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

.resp-menu-link:hover {
  color: #008000;
}

@media (max-width: 800px){
    form {
        width: 400px;
    }
    .label-contact{
        width: 350px;
    }
    .button-send {
        margin-left: 115px;
        margin-right: 115px;
    }
}
    
@media (max-width: 600px) {
    form {
        width: 350px;
    }
    .label-contact{
        width: 300px;
    }
    .input-contact {
        width: 300px;
    }
    .button-send {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 550px) {
    main {
        padding-left: 85px;
    }
}

@media (max-width: 500px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 450px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 400px) {
    form {
        width: 282px;
    }
    .label-contact {
        width: 250px;
    }
    .input-contact {
        width: 250px;
    }
    .button-send {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 550px) {
    .footer-socials img {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 550px) {
    .footer-socials {
        gap: 7px;
    }
}

@media (max-width: 550px) {
    footer {
        padding-left: 25px;
        padding-right: 20px;
    }
}

@media (max-width: 550px) {
    .datenschutz-impressum {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
}

@media (min-width: 681px) {
  .menu_open_button{
    display: none;
  }
}

@media (max-width: 680px) {
  .menu-right {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-padding {
    padding-right: 50px;
  }
}

@media (max-width: 680px) {
  .header-padding {
    justify-content: left;
  }
}

@media (max-width: 480px){
  .header-padding{
    display: block;
    padding-left: 20px;
  }
}