@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-padding {
    padding-left: 50px;
    padding-right: 50px;
}

header {
    min-height: 67px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.header-padding {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
}

.kochwelt-logo {
    margin-top: 10px;
    height: 47px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.menu-links {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.menu-links:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.daily-recipe {
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    max-width: 1920px;
}

.daily-recipe-img {
    height: 200px;
    border-radius: 8px;
    max-width: 1920px;
    margin: 0 auto;
}

.daily-recipe-text {
    padding-left: 24px;
}

.daily-recipe-header {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 600;
}

.daily-recipe-description {
    font-size: 14px;
    margin-bottom: 48px;
    text-align: justify;
}

.daily-recipe-button {
    color: white;
    background-color: #008000;
    text-decoration: none;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.desire-for-new-section {
    background-color: #EFEFEF;
    width: 100%;
    padding-bottom: 50px;
}

.desire-for-new-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    max-width: 1920px;
}

.desire-for-new-recipe {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 16px;
    max-width: 1920px;
}

.desire-for-new-recipe-text {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.desire-for-new-recipe img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-size: 20px;
}

p {
    margin-top: 5px;
    text-decoration: none;
}

.recipe-text {
    text-decoration: none;
    color: black;
}

.recipe-text:hover {
    color: #008000;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.what-is-better {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 56px;
    max-width: 1920px;
}

.what-is-better-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 32px;
}

.what-is-better-pimg {
    display: flex;
    justify-content: space-between;
}

.what-is-better-p {
    font-size: 14px;
    padding-right: 30px;
    text-align: justify;
}

.what-is-better-img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

footer {
    display: flex;
    background-color: #403b3b;
    align-items: center;
    height: 150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-logo {
    height: 47px;
    filter: invert(100%);
}

.data-protection-imprint {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 6px;
}

.data-protection-imprint:hover {
    color: green;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.social-img {
    height: 47px;
    transition: transform 0.6s ease-in-out;
}

.social-img:hover {
    transform: rotateY(360deg);
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 28px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.resp_menu_box {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 135px;
    height: 140px;
    position: absolute;
    top: 20px;
    right: 0;
    transition: all 125ms ease-in-out;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 5px;
}

.resp_menu_closed {
    transform: translateX(115%);
}

.content {
    position: relative;
    overflow: hidden;
    height: 75px;
}

.menu_open_button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
}

.menu_close_button {
    border-radius: 8px;
    width: 135px;
}

.resp-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.resp-menu-link:hover {
    color: #008000;
}

@media(max-width: 768px) {
    .menu-right {
        display: none;
    }
    .daily-recipe-img {
        height: 150px;
    }
}

@media(max-width: 390px) {
    .daily-recipe-img {
        height: 120px;
    }
}

@media (min-width: 769px) {
    .menu_open_button {
        display: none;
    }
    .resp_menu_box {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    main {
        padding-top: 0px;
    }
    .content {
        height: 165px;
    }
    button {
        width: 80px;
    }
    .desire-for-new-recipe {
        flex-direction: column;
        gap: 35px;
    }
    .desire-for-new-recipe img {
        height: 150px;
        width: 150px;
    }
    .daily-recipe {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 24px;
        margin-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .daily-recipe-header {
        padding-top: 24px;
    }
    .daily-recipe-text {
        padding-left: 0px;
    }
    .daily-recipe-description {
        text-align: justify;
    }
    .desire-for-new-recipe {
        align-items: center;
    }
    .what-is-better {
        padding-left: 16px;
        padding-right: 16px;
    }
    .what-is-better-p {
        text-align: justify;
        padding-right: 0px;
        margin-bottom: 24px;
    }
    .what-is-better-pimg {
        flex-direction: column;
        align-items: center;
    }
    .what-is-better-h2 {
        text-align: center;
    }
    .data-protection-imprint {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        padding-left: 10px;
    }
    .footer-socials {
        gap: 16px;
    }
    .footer-socials img {
        height: 40px;
        width: 40px;
    }
}